pipeline1.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"factoryName":{"type":"string","metadata":"Data Factory name"},"AzureDataLakeStorage1":{"type":"string"}},"variables":{"factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"},"resources":[{"name":"[concat(parameters('factoryName'), '/pipeline1')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"GetThreshold","type":"Lookup","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"JsonSource","storeSettings":{"type":"AzureBlobFSReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"JsonReadSettings"}},"dataset":{"referenceName":"CustomerJson1","type":"DatasetReference","parameters":{}}}},{"name":"GetRecordCount","type":"Lookup","dependsOn":[{"activity":"GetThreshold","dependencyConditions":["Completed"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"DelimitedTextSource","storeSettings":{"type":"AzureBlobFSReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"}},"dataset":{"referenceName":"Record_Count","type":"DatasetReference","parameters":{}}}},{"name":"If Condition1","type":"IfCondition","dependsOn":[{"activity":"GetRecordCount","dependencyConditions":["Completed"]}],"userProperties":[],"typeProperties":{"expression":{"value":"@greater(int(activity('GetRecordCount').output.firstRow.total_count), int(activity('GetThreshold').output.firstRow.threshold_value))\n","type":"Expression"},"ifTrueActivities":[{"name":"Copy data1","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"DelimitedTextSource","storeSettings":{"type":"AzureBlobFSReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"}},"sink":{"type":"JsonSink","storeSettings":{"type":"AzureBlobFSWriteSettings"},"formatSettings":{"type":"JsonWriteSettings"}},"enableStaging":false},"inputs":[{"referenceName":"Customer_data","type":"DatasetReference","parameters":{}}],"outputs":[{"referenceName":"CustomerJson1","type":"DatasetReference","parameters":{}}]}]}}],"policy":{"elapsedTimeMetric":{}},"annotations":[]},"dependsOn":["[concat(variables('factoryId'), '/datasets/CustomerJson1')]","[concat(variables('factoryId'), '/datasets/Record_Count')]","[concat(variables('factoryId'), '/datasets/Customer_data')]"]},{"name":"[concat(parameters('factoryName'), '/CustomerJson1')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureDataLakeStorage1')]","type":"LinkedServiceReference"},"annotations":[],"type":"Json","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileName":"threshold.json","fileSystem":"project1"}},"schema":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"segment":{"type":"string"},"state":{"type":"string"},"city":{"type":"string"}}}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/Record_Count')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureDataLakeStorage1')]","type":"LinkedServiceReference"},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileName":"query (1).sql","fileSystem":"project1"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[{"name":"SELECT COUNT(*) AS total_count FROM Customer","type":"String"}]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/Customer_data')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureDataLakeStorage1')]","type":"LinkedServiceReference"},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileName":"query.sql","fileSystem":"project1"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[{"name":"CREATE TABLE customer (","type":"String"}]},"dependsOn":[]}]}